.yang-yin2{
    width: 198px;
    height: 396px;
    border: solid black;
    border-width: 2px 200px 2px 2px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    animation: gun 5s ;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.yang-yin2:before{
    content: " ";
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: black;
    border: 85px #ffffff solid;
    border-radius: 50%;
    top: 0;
    left: 50%;
}
.yang-yin2:after{
    content: " ";
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: #ffffff;
    border: 85px black solid;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    }
button {
    width: 200px;
    padding:8px;
    background-color: #555555;
    border-color: #357ebd;
    color: #fff;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px; /* future proofing */
    -khtml-border-radius: 10px; /* for old Konqueror browsers */
    text-align: center;
    vertical-align: middle;
    border: 1px solid transparent;
    font-weight: 900;
    font-size:125%
    
}

body {
    margin: 0;
    padding: 0;
    line-height: 1.5em;
    font-family: STXihei, "Microsoft YaHei";
    font-size: 18px;
    color: #fff;
   
    
}


p{
      color: #000;
    font-family: STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑";
    font-size:16px;/*字体大小*/
    text-indent:2em;/*首行缩进两个单位*/
    line-height:1.5em;/*行距为1.5个单位*/
    padding:10px;/*用内边距代替外边距来设置段间距*/
    margin:0;/*去掉默认的段间距*/
}

@keyframes gun {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
